/******************************************
/* Custom Properties
/*******************************************/
:root {
  /* Colors */
  --primaryColor: #030505;
  --secondaryColor: #4c5452;
  --accentColor: #69d3bd;
  --whiteColor: #fff;
  --card-1: hsla(349, 68%, 73%, 0.2);
  --card-2: hsla(203, 75%, 69%, 0.2);
  --card-3: hsla(178, 90%, 35%, 0.2);
  --card-4: hsla(327, 45%, 62%, 0.2);
  --main-card: hsla(168, 55%, 62%, 0.2);
  --modal: hsla(165, 5%, 31%, 0.85);

  /* Fonts */
  --headerFont: 'Dosis', sans-serif;
  --textFont: 'Roboto', sans-serif;
  /* Desktop */
  --header1-desktop: 600 4rem var(--headerFont);
  --header2-desktop: 400 2.812rem var(--headerFont);
  --header3-desktop: 700 2rem var(--headerFont);
  --paragraphSpecial-desktop: 300 1rem/150% var(--textFont);
  /* Mobile */
  --header1-mobile: 600 1.813rem var(--headerFont);
  --header2-mobile: 400 0.813rem var(--headerFont);
  --header3-mobile: 700 1.438rem var(--headerFont);
  --paragraphSpecial-mobile: 300 0.875rem/150% var(--textFont);
  /* Base */
  --header4: 600 1.25rem var(--headerFont);
  --button: 400 1rem/1.25rem var(--headerFont);
  --links: 400 0.875rem var(--headerFont);
  --smallText: 700 0.688rem/0.875rem var(--headerFont);
  --paragraph: 400 1rem/150% var(--textFont);
  --decoration: italic 600 1rem/150% var(--textFont);
  /* effects */
  --dropShadow-box: 0px 2px 4px rgba(3, 5, 5, 0.25);
  --dropShadow-btn: 0px 8px 10px rgba(3, 5, 5, 0.2);
  /* page dimensions */
  --max-width: 1110px;
  --header-height: 4rem;
}

/******************************************
/* Custom Reset
/*******************************************/
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font: var(--paragraph);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--secondaryColor);
}

a {
  text-decoration: none;
  color: var(--primaryColor);
  transition: color 0.5s ease-out;
}

a:hover {
  color: var(--accentColor);
  transition: color 0.5s ease-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/******************************************
/* COMPONENTS
/*******************************************/

/* ******** Hero ******** */
.hero * {
  margin: 0;
  padding: 0;
}

.hero {
  margin-top: -5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.hero span {
  font: var(--smallText);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--secondaryColor);
  padding-bottom: px;
}

.hero h1 {
  font: var(--header1-mobile);
  color: var(--primaryColor);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: -2px;
}

.hero h2 {
  font: var(--header2-mobile);
  color: var(--secondaryColor);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hero p {
  font: var(--paragraphSpecial-mobile);
  letter-spacing: 3px;
  color: var(--secondaryColor);
  padding: 1rem 0;
  max-inline-size: 328px;
}

.hero a .arrow-btn {
  padding: 0;
  margin: 0%;
  position: absolute;
  bottom: 4rem;
  right: 47.75%;
}

.hero .social p {
  margin: 0;
  padding: 0;
}

.hero .social ul {
  display: flex;
  justify-content: center;
  gap: 72px;
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .hero {
    margin-top: -5rem;
  }

  .hero .hero-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 648px;
  }

  .hero h1 {
    font: var(--header1-desktop);
    margin-left: -4px;
  }

  .hero h2 {
    font: var(--header2-desktop);
  }

  .hero p {
    font: var(--paragraphSpecial-desktop);
    max-inline-size: 593px;
    margin-bottom: 1rem;
  }
}

/* ******** Menu ******** */
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-btn svg {
  fill: var(--primaryColor);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  background-color: var(--whiteColor);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 3%;
}

.menu a {
  padding: 1rem;
  font: var(--links);
  letter-spacing: 1.32px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  display: block;
}

.menu a:hover {
  border: 2px solid var(--accentColor);
  background-color: var(--whiteColor);
  border-radius: 4px;
  padding: calc(1rem - 2px);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  margin: 0 auto;
  width: 36px;
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    text-align: right;
  }

  .menu.is-active {
    align-items: center;
  }

  .menu ul {
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    gap: 3.5rem;
    padding: 0;
  }

  .menu a {
    padding: 0 1rem;
    display: inline;
    transition: color 0.5s ease-out;
  }

  .menu a:hover {
    border: none;
    padding: 0 1rem;
    display: inline;
  }
}

/* ******** Cards ******** */

/* Main Card */
.card-main {
  margin-block: 24px;
  margin-inline: auto;
  padding: 0 0;
  max-width: 35ch;
  color: var(--whiteColor);
  border-radius: 1rem;
  box-shadow: var(--dropShadow-box);
  overflow: hidden;
}

.card-main__content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-main__title {
  font: var(--header4);
  position: relative;
  width: max-content;
}

.card-main__title::after {
  content: '';
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -0.5rem;
  width: calc(100% + var(--padding));
  background: var(--accentColor);
  /* transform: scale(0); */
  transform-origin: left;
  transition: transform 500ms ease;
}

.card-main__body {
  color: rgb(255 255 255 / 0.9);
}

/* Card */
.card {
  margin-block: 24px;
  margin-inline: auto;
  padding: 0 0;
  max-width: 35ch;
  color: var(--whiteColor);
  border-radius: 1rem;
  box-shadow: var(--dropShadow-box);
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card-img-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.card-img-container:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  font: var(--header4);
  position: relative;
  width: max-content;
}

.card-title::after {
  content: '';
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -0.5rem;
  width: calc(100% + var(--padding));
  background: var(--accentColor);
  /* transform: scale(0); */
  transform-origin: left;
  transition: transform 500ms ease;
}

.card-body {
  color: rgb(255 255 255 / 0.9);
}

.card-btns {
  margin-top: 2rem;
}

.card-btn__live {
  text-align: center;
  width: 100%;
  background: var(--accentColor);
  color: var(--whiteColor);
  font: var(--button);
  padding: 0.5em 1.3em;
  border-radius: 0.25em;
  border: 2px solid var(--accentColor);
  letter-spacing: 1.32px;
  text-align: center;
  box-shadow: var(--dropShadow-btn);
  transition: all 0.5s ease-in-out;
}

.card-btn__code {
  text-align: center;
  width: 100%;
  background: transparent;
  color: var(--accentColor);
  font: var(--button);
  padding: 0.5em 1.3em;
  border-radius: 0.25em;
  border: 2px solid var(--accentColor);
  letter-spacing: 1.32px;
  text-align: center;
  box-shadow: var(--dropShadow-btn);
  transition: all 0.5s ease-in-out;
}

.card-btn__live:hover,
.card-btn__code:hover {
  background-color: var(--whiteColor);
  color: var(--accentColor);
  border: 2px solid var(--accentColor);
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

/* ******** Individual Card Styles******** */

.card1 > .card-img-container:after {
  background-color: var(--card-1);
}

.card2 > .card-img-container:after {
  background-color: var(--card-2);
}

.card3 > .card-img-container:after {
  background-color: var(--card-3);
}

.card4 > .card-img-container:after {
  background-color: var(--card-4);
}

.card-main > .card-img-container:after {
  background-color: var(--main-card);
}

@media (prefers-reduce-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

/* ******** Form Component ******** */

.form {
  max-width: 478px;
  margin: 6rem auto;
  height: auto;
}

.form.container {
  margin-left: auto;
  margin-right: auto;
  max-inline-size: 543px;
  padding: 0 3%;
}

.form h3 {
  font: var(--header3-mobile);
  color: var(--primaryColor);
  letter-spacing: 1.32px;
  text-transform: uppercase;
}

.form p {
  color: var(--secondaryColor);
  max-width: 289px;
}

.form .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .contact-form label {
  display: flex;
  flex-direction: column;
  box-shadow: var(--dropShadow-box);
  border-radius: 4px;
}

.form input:not(.button),
.form textarea {
  border: 1px solid var(--secondaryColor);
  border-radius: 4px;
  font: var(--paragraphSpecial-mobile);
  letter-spacing: 3px;
  padding: 12px 0 12px 24px;
  filter: drop-shadow(var(--dropShadow));
}

.form textarea {
  resize: none;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-form-loader {
  margin-top: 1rem;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-response {
  padding: 1rem 4rem;
  width: content;
  background-color: var(--accentColor);
  border-radius: 1rem;
}

.modal#thanks:target {
  opacity: 1;
  pointer-events: auto;
}

/* ******** Footer Component ******** */

.footer * {
  padding: 0;
  margin: 0;
}

.footer {
  text-align: center;
  margin: 0 0 4rem 0;
}

.footer .copyRight {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  font: var(--smallText);
}

.footer img {
  vertical-align: middle;
  width: 31.48px;
  height: 40px;
}

.footer small {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--secondaryColor);
  letter-spacing: 2px;
}

.footer .nav-footer {
  margin: 40px 0;
}

.footer .social ul {
  display: flex;
  justify-content: center;
  gap: 72px;
}

/* ********** Modal ********** */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--modal);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

/******************************************
/* SITE STYLES
/*******************************************/

.header {
  background-color: var(--whiteColor);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me .container {
  height: 100vh;
}

.about-me h3 {
  font: var(--header3-mobile);
  color: var(--secondaryColor);
  text-transform: uppercase;
  letter-spacing: 1.32px;
}

.about-me .about-me-content {
  max-inline-size: 543px;
  padding: 0 3%;
}

.about-me p {
  font: var(--paragraph);
  color: var(--secondaryColor);
  line-height: 150%;
}

.about-me-image {
  max-width: 478px;
}

.about-me span {
  font: var(--button);
  font-weight: 600;
}

.tech-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tech-row {
  display: flex;
  justify-content: space-between;
}

.tech {
  display: flex;
  align-items: center;
}

.features {
  color: var(--secondaryColor);
  margin-top: 6rem;
  height: auto;
}

.features-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 478px;
  margin: 0 auto;
}

.features h3 {
  margin: 0;
  font: var(--header3-mobile);
  letter-spacing: 1.32px;
  text-transform: uppercase;
}

.features p.special-paragraph {
  font: var(--paragraphSpecial-mobile);
  letter-spacing: 3px;
}

.features p span.linecross {
  text-decoration: line-through;
}

.features p span.bold-italic {
  font: var(--decoration);
}

.features img {
  max-width: 64px;
  margin: 0 auto;
}

.features div.features-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.features div.content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features div.content-centered h4 {
  font: var(--header4);
  text-transform: uppercase;
  letter-spacing: 1.32px;
  align-self: center;
  margin: 16px 0;
}

.features div.content-centered p {
  max-width: 354px;
  margin: 0;
}

.projects {
  max-width: 478px;
  margin: 6rem auto;
  height: auto;
}

.projects.container {
  margin-left: auto;
  margin-right: auto;
  max-inline-size: 543px;
  padding: 0 3%;
}

.projects h3 {
  font: var(--header3-mobile);
  color: var(--secondaryColor);
  letter-spacing: 1.32px;
  text-transform: uppercase;
}

.projects-grid {
  margin: 0 auto;
}

/******************************************
/* DESKTOP STYLES
/*******************************************/
@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: var(--header-height);
  }

  .hero .social {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 2.5rem;
  }

  .hero .social ul {
    align-items: center;
    padding: 0;
  }

  .about-me {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 59px;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-top: 2rem;
    height: auto;
  }

  .about-me h3 {
    font: var(--header3-desktop);
  }

  .about-me .about-me-content {
    padding: 0;
  }

  .features h3 {
    font: var(--header3-desktop);
  }

  .features-description {
    margin: 0;
    width: fit-content;
    max-width: 583px;
  }

  section.features {
    margin-bottom: 190px;
  }

  .features div.features-flex {
    flex-direction: row;
    margin-top: 2rem;
  }

  .projects.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 190px;
    max-width: var(--max-width);
    padding: 0;
  }

  .projects h3 {
    font: var(--header3-desktop);
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-between;
    align-content: center;
    gap: 1.5rem;
  }

  /************ Card ************/
  .card {
    margin: 0 auto;
    max-width: 100%;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
  }

  .card-title::after {
    transform: scale(0);
  }

  .card:hover .card-title::after,
  .card:focus-within .card-title::after {
    transform: scaleX(1);
  }

  .card-content {
    transform: translateY(-45%);
    transition: transform 500ms ease;
    z-index: 999;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(-100%);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card:hover .card-content > *,
  .card:focus-within .card-content > * {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  /*************** Main Card ***************/
  .card-main {
    margin: 0 auto;
    max-width: 100%;
    height: 588px;
    margin-bottom: 24px;
  }

  .card-main__title {
    font: var(--header4);
  }

  .card-main:hover,
  .card-main:focus-within {
    transform: scale(1.05);
  }

  .card-main__title::after {
    transform: scale(0);
  }

  .card-main:hover .card-main__title::after,
  .card-main:focus-within .card-main__title::after {
    transform: scaleX(1);
  }

  .card-main__content {
    transform: translateY(-50%);
    transition: transform 500ms ease;
    z-index: 5;
  }

  .card-main:hover .card-main__content,
  .card-main:focus-within .card-main__content {
    transform: translateY(-100%);
    transition-delay: 500ms;
  }

  .card-main:focus-within .card-main__content {
    transition-duration: 0ms;
  }

  .card-main:hover .card-main__content > *,
  .card-main:focus-within .card-main__content > * {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .card-main__content > *:not(.card-main__title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  /* .card-main__content > .tech-container,
  .card-main__body {
    max-width: 55ch;
  } */

  /*************** Form ***************/

  .form.container {
    display: flex;
    justify-content: space-evenly;
    max-width: var(--max-width);
    margin-bottom: 190px;
  }

  .form h3 {
    font: var(--header3-desktop);
  }

  .form .contact-form {
    width: 542px;
  }

  .form .left {
    margin-top: 72px;
  }

  .submit {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .contact-form-loader {
    margin: 0 auto;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 32px auto;
    max-width: var(--max-width);
  }

  .copyRight {
    order: -1;
  }

  .footer .nav-footer {
    margin: 0 0;
    text-align: right;
  }
}

/******************************************
/* COMPONENT UTILITIES
/*******************************************/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

a.button,
input.button {
  display: inline-block;
  text-align: center;
  padding: 1rem;
  width: 100%;
  background: var(--primaryColor);
  color: var(--whiteColor);
  font: var(--button);
  padding: 10px 22px;
  border-radius: 4px;
  border: 2px solid var(--primaryColor);
  letter-spacing: 1.32px;
  text-align: center;
  box-shadow: var(--dropShadow-btn);
  transition: all 0.5s ease-in-out;
}

a.button:hover,
input.button:hover {
  background-color: var(--whiteColor);
  color: var(--accentColor);
  border: 2px solid var(--accentColor);
  padding: 10px 22px;
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  a.button {
    display: inline;
  }

  label.label-btn,
  input.button {
    max-width: max-content;
  }
}

/******************************************
/* UTILITIES
/*******************************************/
.bold {
  font: var(--button);
  font-weight: 800;
}

.text-center {
  text-align: center;
  align-self: center;
}

.none {
  display: none;
}

.mb-3 {
  margin-bottom: 3rem;
}
